*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orgbackground: rgb(186, 186, 186);
}
body{
    min-height: 100dvh;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section1Box1{
    background: #f5ebd8;
    padding: 10px;
    padding-bottom: 20px;
    outline: 1.5px solid black;
}
.box2{
    display: flex;
    flex-direction: row;
    height: 540px;
    gap: 1rem;
}
.section1Box2{
    max-width: 12%;
    display: flex;
    background: var(--orgbackground);
    justify-content: space-evenly;
    text-align: left;
    flex-grow: 1.5;
    outline: 1.5px solid black;
    border-radius: 0.3rem;
}
.section2Box2{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    justify-content: space-evenly;
    gap: 1rem;
}
.section2Box2info{
    padding-left: 2rem;
    padding-right: 2rem;
}
.section2Box2 section{
    background: var(--orgbackground);
    flex-grow: 1;
    text-align: center;
    outline: 1.5px solid black;
    border-radius: 0.3rem;
}
.section3Box1{
    max-width: 30%;
    display: flex;
    background: var(--orgbackground);
    justify-content: space-evenly;
    flex-grow: 2.5;
    outline: 1.5px solid black;
    border-radius: 0.3rem;
    text-align: center;
}
.section3Box1info{
    padding: 1rem;
    height: 190px;
}
footer{
    background: lightgray;
    text-align: center;
}